@import "../../colors.scss";

.add-button {
  padding: 0px 8px 0px 8px;
  background-color: $button-color;
  color: $button-text-color;
  border-radius: $button-border-radius;
  cursor: pointer;
  height: $button-height;
  outline: none;
  transition: $button-speed;
  font-size: 1rem;
  font-weight: 600;
  @media (max-width: 500px) {
    font-size: 15px;
  }
}

.add-button:active {
  transform: translateY(1px);
}
