@import "../colors.scss";

.spinner-cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.spinner {
  animation: spin 1s linear infinite;
  color: $color-1;
  filter: drop-shadow(0px 0px 5px rgba(56, 56, 56, 0.253));
}

.spinner-message {
  color: white;
  text-align: center;
  width: 150px;
  font-size: 20px;
  margin-bottom: 25px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
