@import "../../colors.scss";

.spinner-cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.spinner {
  animation: forward 2s infinite ease-in-out;
  color: $color-1;
  filter: drop-shadow(0px 0px 3px rgba(243, 243, 243, 0.685));
}

.spinner-message {
  color: white;
  text-align: center;
  width: 150px;
  font-size: 20px;
  margin-bottom: 25px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small-spinner-cont {
  height: 100%;

  padding-top: 5px;
}

.small-spinner {
  animation: forward 1700ms infinite ease-in-out;
}

@keyframes forward {
  0% {
    transform: translateX(-5px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(5px);
    opacity: 0;
  }
}
