@import "../../../colors.scss";

.userInfo {
  padding-block: 50px;
  margin-left: 40px;
  margin-right: auto;
}

.userName {
  font-size: 24px;
  font-weight: 700;
  color: $text-color;
}

.text {
  color: $text-color;
  margin-block: 4px;
}

.logoutButton {
  padding-inline: 8px;
  margin-left: 40px;
  margin-right: auto;
}
