@import "../colors.scss";

nav {
  border-bottom: 3px solid $midtone;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100%;
}

.nav-center {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  justify-content: flex-start;
  width: 600px;
  @media (max-width: 600px) {
    width: 100%;
  }
  @media (max-width: 334px) {
    gap: 5px;
    width: 100%;
  }
}

.nav-title {
  color: $text-color;
  font-size: 30px;
  font-weight: 800;
  line-height: 63px;
  padding-inline: 10px;
  transform: translateY(-3px);
  @media (max-width: 600px) {
    font-size: 22px;
    line-height: 43px;
  }
}

.nav-links {
  display: flex;
  height: 100%;
  list-style: none;
  width: 100%;
  a {
    padding: 5px;
  }
}

.nav-link-a {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  height: 100%;
  padding-inline: 10px;
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
  @media (max-width: 600px) {
    font-size: 13px;
  }
}

.nav-link:is(:hover, :active) {
  cursor: pointer;
}

$btn-selected-clr-1: rgb(77, 201, 125);

.nav-link-active {
  animation: btn-blink 2.5s infinite;
  background-color: $btn-selected-clr-1;
  background: rgb(77, 201, 125);
  background: -moz-linear-gradient(
    90deg,
    rgba(77, 201, 125, 1) 0%,
    rgba(94, 238, 149, 1) 10%,
    rgba(95, 240, 151, 1) 50%,
    rgba(94, 238, 150, 1) 90%,
    rgba(77, 201, 125, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(77, 201, 125, 1) 0%,
    rgba(94, 238, 149, 1) 10%,
    rgba(95, 240, 151, 1) 50%,
    rgba(94, 238, 150, 1) 90%,
    rgba(77, 201, 125, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(77, 201, 125, 1) 0%,
    rgba(94, 238, 149, 1) 10%,
    rgba(95, 240, 151, 1) 50%,
    rgba(94, 238, 150, 1) 90%,
    rgba(77, 201, 125, 1) 100%
  );
  border-bottom: 3px solid $midtone;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dc97d",endColorstr="#4dc97d",GradientType=1);
  position: relative;
  transform: translateY(5px);
  z-index: 2;

  li {
    line-height: 65px;
    font-weight: 600;
    @media (max-width: 600px) {
      font-size: 13px;
      line-height: 45px;
    }
  }
}

.nav-link-active::after {
  background-color: $color-2;
  content: "";
  height: 3px;
  position: absolute;
  right: 0;
  top: -6px;
  width: 100%;
}
