$color-1: rgb(90, 247, 150);
$color-2: rgb(34, 34, 34);
$midtone: rgb(58, 158, 96);
$shadow: rgba(0, 0, 0, 0.329);
$text-color-2: rgb(20, 20, 20);
$text-color: rgb(250, 250, 250);

$button-color: $color-1;
$button-border: 3px solid $midtone;
$button-speed: 100ms;
$button-text-color: rgb(250, 250, 250);
