@import "./components/colors.scss";

.App {
  min-height: 100vh;
  position: relative;
}

header {
  top: 0;
  z-index: 1;
}

main {
  -ms-overflow-style: none; /* IE and Edge */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 90vh;
  padding: 6px 10px 10px 10px;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.no-page {
  align-items: center;
  color: $text-color;
  display: flex;
  height: 400px;
}

.index-page {
  padding-top: 60px;
}

.index-text {
  color: $text-color;
  padding: 5px 20px 5px 20px;
  text-align: left;
  @media (max-width: 500px) {
    padding: 5px;
    width: 80%;
  }
  animation: text-reveal 700ms ease-out;
}

@keyframes text-reveal {
  from {
    opacity: 0;
    transform: translateY(-7px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bg-color-1 {
  background-color: $color-1;
}

.bg-color-2 {
  background-color: $color-2;
}

a {
  color: $text-color;
  text-decoration: none;
  white-space: nowrap;
}

.list {
  direction: rtl;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.list-item {
  border-bottom: 1px solid rgb(196, 196, 196);
  padding-block: 10px;
  transition: 125ms;
  width: 100%;
}

.station-nav-container {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.station-list {
  height: 100%;
}

.station-item {
  color: $text-color;
  font-size: 20px;
  font-weight: 600;
  padding-left: 40px;
  text-align: left;
  @media (max-width: 500px) {
    font-size: 15px;
  }
}

.button-font {
  color: $button-text-color;
  font-size: 19px;
  font-weight: 600;
  text-decoration: underline;
  @media (max-width: 500px) {
    font-size: 15px;
  }
}

.styled-scrollbar {
  scrollbar-color: $color-1 #333;
}

.styled-scrollbar::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  /* Foreground */
  background: $color-1;
  background-color: rgba(58, 158, 96, 1);
  background-image: linear-gradient(
    45deg,
    rgba(90, 247, 150, 1) 50%,
    rgba(58, 158, 96, 1) 50%
  );
  background-size: 4px 4px;
  border-bottom: 3px solid $midtone;
  border-radius: 4px;
  box-shadow: 0px 0px 5px $shadow;
  height: 30px;
  position: relative;
  width: 25px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  /* Background */
  background: rgb(175, 175, 175);
  border-radius: 5px;
}

.station-title {
  color: $text-color;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 40px;
  padding: 20px;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 25px;
  }
}

.total-stations {
  color: $text-color;
  padding: 0px 0px 5px 0px;
  @media (max-width: 500px) {
    font-size: 15px;
  }
}

table {
  color: $text-color;
  font-size: 18px;
  padding-block: 20px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

th {
  font-weight: 800;
  text-align: left;
  text-decoration: underline;
  width: 110px;
}

.station-traffic {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.traffic-cont {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 40%;
  @media (max-width: 600px) {
    padding: 10px 5px 10px 5px;
  }
}
.traffic-title {
  color: $text-color-2;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.traffic-amount {
  border-radius: 20px;
  color: $text-color-2;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 100px;
  @media (max-width: 600px) {
    font-size: 17px;
    padding: 5px;
  }
}

.edit-btn {
  cursor: pointer;
  width: 50px;
  padding-top: 3px;
  margin-left: -10px;
  border: none;
  background-color: transparent;
}

#traffic-cont-1 {
  animation: reveal 700ms;
}

#traffic-cont-2 {
  animation: reveal2 700ms;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
