@import "../colors.scss";

.error-page {
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.error-msg {
  color: $text-color;
}

.error-emote {
  color: $color-1;
}
